/.vscode
/chapter3/input/10.35097-1278
/chapter3/input/10.35097-1511
/chapter3/input/livedoor-news-data
/chapter3/input/appliances+energy+prediction
/chapter3/input/material_projects_api_cif_1000/.DS_Store