/.vscode
/chapter3/input/10.35097-1278
/chapter3/input/10.35097-1511
/chapter3/input/livedoor-news-data
/chapter3/input/appliances+energy+prediction
/chapter3/input/material_projects_api_cif_1000/.DS_Store
/chapter3/src/materials_projects_api_update2.ipynb
/chapter3/input/material_projects_api_cif
/chapter3/src/make_X-ray_diffraction_pattern.ipynb
/chapter3/src/make_X-ray_diffraction_pattern copy.ipynb
/chapter3/src/not_cubic_files_list.pkl
/chapter3/src/materials_projects_cif.py
/chapter3/src/run.ipynb
/chapter3/src/cubic_files_list.pkl
/chapter3/input/material_projects_api_cif_1000
/chapter3/input/material_projects_api_cif_cubic
/chapter3/input/material_projects_api_cif_not_cubic
/chapter3/input/material_projects_maked_xrd_pattern_cubic
/chapter3/input/material_projects_maked_xrd_pattern_not_cubic
/chapter3/input/material_projects_maked_xrd_pattern_check_cubic.zip
/chapter3/input/material_projects_api_cif.csv
/chapter2/src/ symbolic_regression.ipynb
/chapter3/src/time_series_analysis_symbolic_regression.ipynb