/.vscode
/chapter2
/chapter4/input/10.35097-1278
/chapter4/input/10.35097-1511
/chapter4/input/livedoor-news-data
/chapter4/input/appliances+energy+prediction
/chapter4/input/material_projects_api_cif_1000/.DS_Store
/chapter3/src/materials_projects_api_update2.ipynb
/chapter4/input/material_projects_api_cif
/chapter3/src/make_X-ray_diffraction_pattern.ipynb
/chapter3/src/make_X-ray_diffraction_pattern copy.ipynb
/chapter3/src/not_cubic_files_list.pkl
/chapter4/src/materials_projects_cif.py
/chapter3/src/run.ipynb
/chapter3/src/cubic_files_list.pkl
/chapter4/input/material_projects_api_cif_1000
/chapter4/input/material_projects_api_cif_cubic
/chapter4/input/material_projects_api_cif_not_cubic
/chapter4/input/material_projects_maked_xrd_pattern_check_cubic.zip
/chapter4/input/material_projects_api_cif.csv
/chapter4/src/ symbolic_regression.ipynb
/chapter4/src/time_series_analysis_symbolic_regression.ipynb
/chapter4/input/material_projects_maked_xrd_pattern_cubic
/chapter4/input/material_projects_maked_xrd_pattern_not_cubic
/chapter4/src/image_segmentation_全部載せ.ipynb
/chapter4/src/image_segmentation_都度載せ.ipynb
/chapter4/src/image_segmentation_debug.ipynb
/chapter4/src/image_segmentation_debug2.ipynb
/chapter4/input/material_projects_api_cif_not_cubic
/chapter4/input/material_projects_api_cif
/chapter4/input/material_projects_api_cif_cubic
/chapter4/input/material_projects_api_cif_not_cubic
/chapter4/input/material_projects_maked_xrd_pattern_cubic
/chapter4/input/material_projects_maked_xrd_pattern_cubic_png
/chapter4/input/material_projects_maked_xrd_pattern_not_cubic
/chapter4/input/material_projects_maked_xrd_pattern_not_cubic_png
/chapter4/input/gas-sensor-array-temperature-modulation
/chapter4/src/organic_materials_example.ipynb
/chapter3/src/time_series_analysis_symbolic_regression.ipynb
/chapter4/src/visualization_of_inorganic_materials_copy.ipynb
/chapter4/src/visualization_of_organic_materials_copy.ipynb
/chapter3/src/ver_check.ipynb
/chapter4/src/best_model.pth
/chapter4/src/.ipynb_checkpoints
/chapter4/input/zip
/chapter4/output
/chapter5/src/bayesian_optimization_gpr_full.ipynb
/chapter5/src/psybo_demo_.ipynb
/chapter5/src/psybo_demo.ipynb
/chapter5/input/tsta_a_1791676_sm7407.csv
.gitignore
/chapter5/src/opt_demo copy.ipynb
/chapter5/src/opt_demo_multi_trial_NG.ipynb
/chapter5/src/labelme_demo.ipynb
chapter5/input/labelme_demo
/chapter5/input/labelme_demo.json
/chapter5/input/labelme_demo.png
/chapter5/src/opt_demo.ipynb
/chapter5/src/opt_demo_constrain.ipynb
/chapter5/src/bayesian_optimization_gpr.ipynb
/chapter5/src/final_results_df.csv
/chapter4/src/opencv_sample.ipynb
/chapter4/input/material_projects_api_cif_1000.zip
/chapter4/input/material_projects_maked_xrd_pattern_cubic.zip
/chapter4/input/material_projects_maked_xrd_pattern_not_cubic.zip
/chapter4/input/MIハンドブック_はじめに_抜粋.pdf
/chapter4/input/mp_data_formula_id_bandgap_ehull_formation_energy_with_cif_1000.csv
/chapter4/input/mp_data_formula_with_id_and_basic_physical_properties_1000.csv
/chapter4/input/opencv_sample.png
/chapter5/input/tsta_a_1791676_sm7407.csv
/chapter4/input/material_projects_maked_xrd_pattern_cubic_csv
/chapter4/input/material_projects_maked_xrd_pattern_not_cubic_csv
/chapter4/input/material_projects_maked_xrd_pattern_cubic_noncubic
/chapter4/input/material_projects_maked_xrd_pattern_cubic_noncubic.tar.gz
/chapter4/input/material_projects_maked_xrd_pattern_cubic_noncubic.zip
/html